.rules__right{
    display: block;
    position: absolute;
    margin: 147px 0px 0px 774px;
/*    margin: 1.3% 1% 0 0;*/
    padding: 0;
    height: auto;
    width: auto;
    z-index: 1;
}
@media screen and (min-width:200px) and (max-width:480px) {
    .rules__right{
        margin: 147px 0px 0px 474px;
    }
}

@media screen and (min-width:481px) and (max-width:900px) {
    .rules__right{
        margin: 147px 0px 0px 574px;
    }
}

@media screen and (min-width:901px) and (max-width:1500px) {
    .rules__right{
        margin: 147px 0px 0px 674px;
    }
}